################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day10/bin/Debug/input.txt
/Day10/obj/Debug/Day10.exe
/Day10/obj/Debug/Day10.pdb
/Day10/obj/Debug/Day10.csproj.CoreCompileInputs.cache
/Day10/obj/Debug/Day10.csproj.FileListAbsolute.txt
/Day10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Day10/Properties/AssemblyInfo.cs
/Day2/Part1/Day2-Part1/.vs/Day2-Part1/v17/.suo
/Day24/Day24/.vs/Day24/FileContentIndex/3856384c-5965-47d4-9e14-aa99fd3e687d.vsidx
/Day24/Day24/.vs/Day24/v17/.suo
/Day24/Day24/.vs/Day24/v17/DocumentLayout.json
/Day24/Day24/bin/Debug/Day24.exe
/Day24/Day24/obj/Debug/Day24.csproj.AssemblyReference.cache
/Day24/Day24/obj/Debug/Day24.csproj.CoreCompileInputs.cache
/Day24/Day24/obj/Debug/Day24.exe
/Day24/Day24/obj/Debug/Day24.pdb
/Day6/Day6/.vs/Day6/FileContentIndex/22524d85-f5c9-4b07-b4be-d9d2e31c6f3a.vsidx
/Day6/Day6/.vs/Day6/FileContentIndex/fb8cf3a0-ad31-442e-bfcc-cf756a603c65.vsidx
/Day6/Day6/obj/Debug/Day6.csproj.AssemblyReference.cache
/Day6/Day6/obj/Debug/Day6.csproj.CoreCompileInputs.cache
/Day6/Day6/obj/Debug/Day6.csproj.FileListAbsolute.txt
/Day6/Day6/obj/Debug/Day6.exe
/Day6/Day6/obj/Debug/Day6.pdb
/Day6/Day6/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Day6/Day6/Program.cs
/Day6/Day6/Properties/AssemblyInfo.cs
/Day8/Day8/.vs/Day8/FileContentIndex/ea1b3534-b592-4465-8a10-92c0bd65445e.vsidx
/Day8/Day8/.vs/Day8/v17/.suo
/Day10/.vs/Day10/FileContentIndex/207d5379-5022-4c93-86c6-1527d0b27b60.vsidx
/Day10/.vs/Day10/v17/.suo
/Day10/.vs/Day10/v17/DocumentLayout.json
/Day10/bin/Debug/Day10.exe
/Day10/bin/Debug/Day10.exe.config
/Day10/bin/Debug/Day10.pdb
/Day10/Day10.csproj
/Day10/Day10.sln
/Day10/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Day10/obj/Debug/Day10.csproj.AssemblyReference.cache
/Day24/Day24/bin/Debug/Day24.pdb
/Day24/Day24/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Day6/Day6/.vs/Day6/v17/.suo
/Day6/Day6/.vs/Day6/v17/DocumentLayout.json
/Day6/Day6/App.config
/Day6/Day6/bin/Debug/Day6.exe
/Day6/Day6/bin/Debug/Day6.exe.config
/Day6/Day6/bin/Debug/Day6.pdb
/Day6/Day6/Day6.csproj
/Day6/Day6/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Day8/Day8/.vs/Day8/v17/DocumentLayout.json
/Day8/Day8/bin/Debug/Day8.exe
/Day8/Day8/bin/Debug/Day8.exe.config
/Day8/Day8/bin/Debug/Day8.pdb
/Day8/Day8/bin/Debug/input.txt
/Day8/Day8/Day8.csproj
/Day8/Day8/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Day8/Day8/obj/Debug/Day8.csproj.AssemblyReference.cache
/Day8/Day8/obj/Debug/Day8.csproj.CoreCompileInputs.cache
/Day8/Day8/obj/Debug/Day8.csproj.FileListAbsolute.txt
/Day8/Day8/obj/Debug/Day8.exe
/Day8/Day8/obj/Debug/Day8.pdb
/Day8/Day8/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Day8/Day8/Properties/AssemblyInfo.cs
/Day2/Part1/Day2-Part1/.vs/Day2-Part1/v17/.suo
/Day2/Part1/Day2-Part1/.vs/Day2-Part1/v17/.suo
